<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6 mt-5">
           
				<div class="vv1 colorHelper p-4" style="margin-top: 15% !important;">
					<p class="text-center" style="font-size: 22px; font-weight: 500;font-family: Poppins;">Github App</p>



					<div class="col-12 col-lg-12 mt-3">
									 <label class="table_heading" for="email">Enter Your Github Username</label>
									 <input id="username" type="text" class="form-control input_field1 helper"/>
									 	
									 
		                     
					</div>

					<div class="col-12 col-lg-12 mt-4">
						<button id="btn" (click)="getUsername()" style="width: 100% !important; border-radius: 10px !important;background-color: #4060F4 !important;" type="button" class="btn btn-primary btn-lg ff">Go</button>
					</div>

				</div>
    </div>
    <div class="col-lg-3 col-md-3"></div>

    </div>
</div>